div.controls {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: -11rem;
  padding: 2rem;
  background: linear-gradient(0deg, rgba(0,0,0,0.896796218487395) 0%, rgba(0,0,0,0) 100%);
  height: 11rem;
  .channel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    &_number{
      font-size: 2rem;
      margin-right: 1rem;
      background-color: darken(yellow, 10);
      padding: .2rem .5rem;
      border-radius: .5rem;
    }
    &_logo{
      height: 2.5rem;
      margin-right: auto;
      img{
        height: 100%;
      }
    }
    &_program{
      font-size: 2rem;
      text-transform: uppercase;
    }
    &_audio{
      svg{
        position: relative;
      }
      transition: all .2s;
      position: relative;
      margin-left: 1rem;
      cursor: pointer;
      padding: .2rem .5rem;
      border-radius: 0 0 .5rem .5rem;
      .audio_level{
        transition: all .1s ease-in;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: rgba(#000, .4);
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .wrapper{
          position: relative;
          transition: all .1s ease-in;
          opacity: 0;
          margin-bottom: 3.5rem;
          background-color: #666;
          width: 3px;
          height: 7rem;
          .audio_seeker{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: yellow;
            border-radius: 3px;
            width: 3px;
            height: 7rem;
          }
          .offsetCalculator{
            position: absolute;
            bottom: 0;
            transform: translateX(-35%);
            background-color: transparent;
            width: 10px;
            height: 7rem;
          }
        }
      }
      &:hover .audio_level{
        height: 12rem;
      }
      &:hover .audio_level .wrapper{
        opacity: 1;
      }

    }
    &_subtitle{
      margin-left: auto;
      cursor: pointer;
    }
  }
  .timeline{
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .track{
      position: relative;
      height: 3px;
      border-radius: 3px;
      flex-grow: 1;
      background-color: rgba(grey, .5);
      margin: 0 1rem;
    }
    .start_time, .end_time{
      color: white;
      font-size: 1.2rem;
    }
  }
}
svg{
  width: 2.4rem;
  height: 2.4rem;
}
