<div class="controls">
  <div class="channel">
    <p class="channel_number">52</p>
    <p class="channel_logo">
      <img src="assets/icons/victory.png" alt="Channel logo">
    </p>
    <p class="channel_program">Jesus the saver</p>
    <div class="channel_audio">
      <svg>
        <use xlink:href="assets/icons/sprite.svg#src-4"></use>
      </svg>
    </div>
    <div class="channel_subtitle">
      <svg>
        <use xlink:href="assets/icons/sprite.svg#src-3"></use>
      </svg>
    </div>
  </div>
  <div class="timeline">
    <p class="start_time">0</p>
    <div class="track"></div>
    <p class="end_time">{{duration}}</p>
  </div>
</div>
