<div class="controls">
  <div class="channel">
    <p class="channel_number">52</p>
    <p class="channel_logo">
      <img src="assets/icons/victory.png" alt="Channel logo">
    </p>
    <p class="channel_program">Jesus the saver</p>
    <div class="channel_audio">
      <div class="audio_level">
        <div class="wrapper">
          <div class="audio_seeker"></div>
          <div class="offsetCalculator"></div>
        </div>
      </div>
      <svg class="speaker" (click)="toggleMuted()">
        <title>Volume</title>
        <use href="assets/icons/sprite.svg#src-5" [style]="{display: muted ? 'none' : 'unset'}"></use>
        <use href="assets/icons/sprite.svg#src-4" [style]="{display: muted ? 'unset' : 'none'}"></use>
      </svg>
    </div>
    <div class="channel_subtitle">
      <svg>
        <title>Subtitles</title>
        <use href="assets/icons/sprite.svg#src-7"></use>
      </svg>
    </div>
    <div class="channel_full_screen">
      <svg>
        <title>Full screen</title>
        <use href="assets/icons/sprite.svg#src-2" (click)="toggleFullScreen()"></use>
      </svg>
    </div>
  </div>
  <div class="timeline">
    <p class="start_time">{{currentTime}}</p>
    <div class="track"></div>
    <p class="end_time">{{duration}}</p>
  </div>
</div>
