footer{
  color: white;
  section.footer{
    padding: 5rem;
    ul.footer_menu{
      padding: 3rem;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #555555;
      list-style: none;
      li{
        a{
          text-decoration: none;
          color: inherit;
          font-size: 1.6rem;
          cursor: pointer;
        }
        &:not(last-of-type){
          margin-right: 2rem;
        }
      }
    }
    div.copyright{
      padding: 3rem 0;
      .logo{
        height: 2rem;
        img{
          height: 100%;
        }
      }
      p{
        margin-top: 1rem;
        font-size: 1.6rem;
      }
    }
  }
}
