<footer>
  <section class="footer">
    <ul class="footer_menu">
      <li><a href="#">Join the community</a></li>
      <li><a href="#">Support iFaith.tv</a></li>
      <li><a href="#">Partner ministries</a></li>
      <li><a href="#">Terms of use</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
    <div class="copyright">
      <div class="logo">
        <img src="assets/images/logo.png" alt="iFaith Logo">
      </div>
      <p>&copy;2021 iFaith.tv All rights reserved.</p>
    </div>
  </section>
</footer>
