section {
  position: relative;
  padding: 0 4rem;
  div.video {
    position: relative;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    video {
      height: 100%;
    }
  }
  svg{
    width: 2.4rem;
    height: 2.4rem;
  }



}
