div {
  display: flex;
  justify-content: center;
  section {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 3.5rem 1fr;
    gap: 0 3rem;
    width: 102.4rem;
    padding: 1.5rem;
    background-color: #272727;
    color: white;
    overflow: hidden;
    overflow-x: scroll;
    border-radius: .5rem;
    .minutes {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      display: flex;
      position: relative;
      height: 3.5rem;
      .timeline-minutes{
        color: #b7b7b7;
        position: absolute;
      }
    }
    .guide-wrapper {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      display: grid;
      grid-template-columns: 10rem 1fr;
      grid-template-rows: max-content 1fr;
      .prog-wrapper {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        box-shadow: .5rem .5rem 8px #00000036;
        display: grid;
        grid-template-columns: 10rem 1fr;
        .channel-bottom__info {
          grid-column: 1 / 2;
          position: sticky;
          left: -1.5rem;
          z-index: 100;
          background-color: #272727;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 1rem;
          box-shadow: 0.5rem 0.5rem 8px #0000001f;
          img {
            width: 100%;
          }

          svg {
            width: 1.8rem;
            height: 1.8rem;
            // stroke: black;
            fill: red;
            margin-right: 1.5rem;
            cursor: pointer;
          }
        }
        .prog-container {
          grid-column: 2 / -1;
          background-color: #151515;
          color: #d4d4d4;
          display: flex;
          align-items: center;
          position: relative;
            &::after {
              position: absolute;
              content: '';
              display: block;
              right: 0;
              height: 65%;
              width: 0.15rem;
              background: #e9f603;
            }
          .prog {
            overflow: hidden;
            padding: 1rem .5rem;
          }
        }
      }
      .category {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        .channel-left__info {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            height: 1.6rem;
            // stroke: black;
            fill: white;
            cursor: pointer;
          }
          p{
            margin-left: 1rem;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
.hide {
  opacity: 0;
  width: 0.4rem;
}

.show {
  opacity: 1;
}

.currentTime {
  font-size: 1.2rem;
  font-weight: bold;
  color: black !important;
  background-color: #e9f603;
  box-shadow: 0 0 10px #5b6100;
  border-radius: .5rem;
  padding: .3rem;
  position: relative;
  z-index: 99;
  &::after{
    content: '\21E3';
    color: #e9f603;
    width: .9rem;
    position: absolute;
    top: 2.5rem;
    right: 50%;
    transform: translateX(50%);
  }
  &::before {
    content: '';
    width: .2rem;
    height: 80px;
    background-color: #e9f603;
    box-shadow: 0 0 4px #e9f603;
    position: absolute;
    top: 3.8rem;
    right: 50%;
    transform: translateX(50%);
  }
}
